# aiohttp_debugtoolbar
# aiohttp-devtools
luckydonald-utils
# aiohttp[speedups]
httpx
asynctest
pydantic
aiocron
# uvloop


# telethon
Telethon==1.10.10
# pytgbot
pytgbot==4.5.2

starlette==0.12.9  # before 0.13
python-multipart
fastapi
uvicorn
